<!-- Overlay z efektem blur -->
<div *ngIf="isDialogOpen" class="dialog-overlay"></div>

<div class="dialog">
  <h2>Opcje eksportu:</h2>

  <!-- Pola daty w jednym rzędzie -->
  <div class="date-input-container">
    <div class="date-input">
      <label for="from">Od:</label>
      <input type="date" id="from" [(ngModel)]="fromDate">
    </div>
  
    <div class="date-input">
      <label for="to">Do:</label>
      <input type="date" id="to" [(ngModel)]="toDate">
    </div>
  </div>

  <!-- Przyciski -->
  <div class="button-container">
    <button mat-raised-button (click)="onGenerate()">
      <mat-icon>download</mat-icon> Wygeneruj i pobierz plik
    </button>
    <button mat-button (click)="close()">Zamknij</button>
  </div>
</div>
