<!-- Overlay z efektem blur -->
<div *ngIf="isDialogOpen" class="dialog-overlay"></div>

<div class="dialog">
  <h2>Przedział dat wykonania zabiegów</h2>

  <div class="date-input">
    <label for="from">OD:</label>
    <input type="date" id="from" [(ngModel)]="fromDate">
    <button mat-icon-button><mat-icon>calendar_today</mat-icon></button>
  </div>

  <div class="date-input">
    <label for="to">DO:</label>
    <input type="date" id="to" [(ngModel)]="toDate">
    <button mat-icon-button><mat-icon>calendar_today</mat-icon></button>
  </div>

  <button mat-raised-button color="primary" (click)="onGenerate()">Wygeneruj i pobierz plik</button>
  <button mat-button (click)="close()">Zamknij</button>
</div>
