<div class="upload-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
  <h2 class="section-header">
    <mat-icon class="header-icon">upload_file</mat-icon>
    Wgraj grafik
  </h2>

  <!-- Drop zone -->
  <div class="drop-zone" [class.dragging]="isDragging">
    <p>Przeciągnij plik tutaj lub kliknij, aby wybrać</p>

    <!-- Niestandardowy przycisk do wyboru pliku -->
    <label for="file-upload" class="custom-file-upload">
      <mat-icon>folder_open</mat-icon> Wybierz plik
      <input type="file" id="file-upload" accept=".xlsx" (change)="onFileSelected($event)">
    </label>
  </div>

  <div *ngIf="selectedFile">
    <p>Wybrany plik: {{ selectedFile.name }}</p>
  </div>

    <button mat-raised-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile || uploading" class="send-button">
      <mat-icon>cloud_upload</mat-icon> Wyślij
    </button>
  
    <button
    mat-raised-button
    color="accent"
    (click)="downloadLatestReport()"
    *ngIf="showDownloadButton"
    class="download-button">
    <mat-icon>download</mat-icon> Pobierz raport
  </button>
  


  <!-- Zblurowany ekran podczas przesyłania -->
  <div *ngIf="uploading" class="overlay"></div>

  <!-- Widoczny spinner podczas przesyłania -->
  <div *ngIf="uploading" class="spinner-container">
    <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
  </div>

  <!-- Komunikat informacyjny podczas przetwarzania -->
  <div *ngIf="uploading" class="processing-message">
    <p>Proszę czekać. Przetwarzanie może potrwać około 10 minut.</p>
  </div>

  <!-- Przycisk do przerwania przetwarzania, widoczny tylko, gdy proces jest aktywny -->
  <button mat-raised-button color="warn" (click)="cancelProcessing()" *ngIf="uploading" class="cancel-button">
    <mat-icon>cancel</mat-icon> Przerwij przetwarzanie
  </button>

  <!-- Success Message -->
  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>

  <!-- Error Message with Icon -->
  <div *ngIf="errorMessage" class="error">
    <mat-icon>error_outline</mat-icon> {{ errorMessage }}
  </div>
</div>
